.button-container{
    display: flex;
    justify-content: center;
   
    
    
}

button{
    width: 400px;
    height:400px;
    box-shadow:5px 5px 5px red;
    margin-top: 50px;
    transition: 1s;
    
}
button:hover{
    transform: translate(-5px,-5px);
    transition: 0.8s;
    box-shadow: 10px 10px 10px red;
}

button:active{
    transform: translate(3px,3px);
    transition: 0.2s;
    box-shadow: 2px 2px 2px red;
}

